/* Border Property */
.heading {
    /* border: 2px solid tomato; */
    /* border: 6cm dashed hotpink; */
    /* border: 4vh dotted yellow; */
    border: 1vw groove rgb(222, 2, 83);
    background-color: rgb(116, 116, 196);
    color: #ffbbbb;
}


.para {
    color: #335804;
    opacity: 0.6;
    /* border: 4px groove blueviolet; */
    
    /* border-top-width: 2px;
    border-right-width: 16px;
    border-bottom-width: 26px;
    border-left-width: 5px; */
    /* border-width: 4px 22px ; */
    /* border-width: 14px 1px 25px ; */
    border-width: 6px 16px 26px 35px;
    
    /* border-color: rgb(7, 181, 239); */
    border-color: red black blue yellow;
    /* border-radius: 20% 5% 10% 30%; */
    border-radius: 10%;
    /* border-style: solid; */
    border-style: dashed solid dotted groove;
}